* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333;
}

header {
    background-color: #006600; /* Verde Brasil */
    color: #FFCC00; /* Amarelo Brasil */
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav button {
    background-color: #FFCC00;
    color: #006600;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #FF9900;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product button {
    background-color: #006600;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.product button:hover {
    background-color: #FFCC00;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #006600;
    color: #FFCC00;
    margin-top: 30px;
}